<h1><%= title %></h1>

<% if (typeof messages === "function") { 
  const flashHtml = messages();
  if (flashHtml) { %>
<div class="flash-message">
 <%- flashHtml %>
</div>
<%   } 
} %>

<% if (errors) { %>
  <ul class="notice">
    <% errors.array().forEach(error => { %>
      <li><%= error.msg %></li>
    <% }) %>
  </ul>
<% } %>

<section id="register-page">
  <div class="register-container">
    <form id="loginForm" action="/account/register" method="post" class="register-form">

      <label for="account_firstname">First name</label>
      <input
        type="text"
        name="account_firstname"
        id="accountFirstname"
        required
        value="<%= locals.account_firstname %>"
      >

      <label for="account_lastname">Last name</label>
      <input
        type="text"
        name="account_lastname"
        id="accountLastname"
        name="account_lastname"
        required
        value="<%= locals.account_lastname %>"
      >

      <label for="account_email">Email address</label>
      <input
        type="email"
        name="account_email"
        id="accountEmail" 
        required
        value="<%= locals.account_email %>"
      >

      <label for="account_password">Password</label>
      <input
        type="password"
        name="account_password"
        id="pword" 
        required
        minlength="12"
        pattern="(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*]).{12,}"
    >

    <button type="button" id="pswdBtn">Show Password</button>

    <p class="password-hint">
        Password must be at least 12 characters and include 1 capital letter,
        1 number, and 1 special character.
    </p>

    <button type="submit" class="register-btn">Register</button>
    </form>
  </div>
</section>

<script src="/js/register.js"></script>
